$primary: #2374EE;
$secondary: #FEC64F;

$main-txt-color: #252641;

$head-bg-color: rgba(33, 200, 246, .1);

$color-1: #21C8F6;
$color-2: #2F327D;
$color-3: #FC6B57;
$color-4: #6C6C6C;
$color-5: #FFFFFF;
$color-6: #637BFF;
$color-7: #D3F4FD;
$color-8: #F48C06;
$color-9: #2F327D;
$color-10: #464646;
$color-11: rgba(255, 255, 255, .8);
$color-12: #595959;
$color-13: #545567;
$color-14: #FFC73C;
$color-16: #F19A1A;
$color-17: #696984;
$color-18: #D4E1FF;
$color-19: #818C96;
$color-20: #4D4D4D;
$color-21: #777795;
$color-22: #FD661F;
$color-23: #230F0F;
$color-24: #FAFAFA;
$color-25: #263238;
$color-26: #525596;
$color-27: #3CC2E0;
$color-28: #0A033C;
$color-29: #39353F;
$color-30: #3633CC;
$color-31: #34364A;
$color-32: 000823;
